@font-face {
    font-family: 'JF Flat Regular';
    src: url(../Fonts/JF\ Flat\ Regular.ttf);
    font-family: 'arial';
    src: url(../Fonts/alfont_com_arial-1.ttf);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    /* font-family: "jf flat" ; */
    background-color: black;
    color: white;
    background: url(../Image/background.jpg) repeat;
    background-size: cover;
}
.logo {
  margin: 0;
  margin-right: 15px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 50%;
}
.image-0 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .image-0 {
    flex-direction: column;
    }
  }
@media (max-width: 768px){
  /* .h-1 {
    font-size: 45px !important;
  }
  .p-1 {
    font-size: 25px !important;
  } */
}

.land {
  display: flex; /* Add flex display */
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Align items to the center horizontally */
  text-align: center; /* Align text to the center horizontally */
}




.land p {
  margin: 0;
  font-size: 50px;
  line-height: 1.4;
  white-space: nowrap; /* Prevent line break */
  margin-top: -10px; /* Adjust margin to fine-tune alignment */
  
}
.land h2 {
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  padding-right: 20px;
  white-space: nowrap; /* Prevent line break */
}
@media (max-width: 992px) {
  .land h2 {
    font-size: 30px;
  }
  .land p {
    font-size: 40px;
    line-height: 1.5;
  }
}
/* @media (max-width: 920px){
  .land h2 {
    font-size: 47px;
  }
  .land p {
    font-size: 29px;
  }
  .logo {
    width: 180px;
    height: 180px;
  }
} */
@media (max-width: 324px) {
  .land p {
    font-size: 20px !important;
  }
  .land h2 {
    font-size: 18px !important;
  }
  .logo {
    width: 170px !important;
    height: 170px !important;
  }
  .social p {
    margin: 0;
    font-size: 15px !important;
  }
  .footer {
    font-size: 12px !important;
  }
  .social a i {
    font-size: 15px !important;
  }
}
@media (max-width: 415px) {
  .land h2 {
    font-size: 25px;
    padding-top: 10px;
  }
  .land p {
    font-size: 30px;
  }
}
@media (max-width: 280px) {
  .land h2 {
    font-size: 20px;
  }
  .land p {
    font-size: 12px;
  }
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px;
  perspective: 600px;
}
.parent a {
  padding: 10px;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  width: calc(50% - 10px);
  transform-style: preserve-3d;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-decoration: unset;
  font-family: "jf flat";
}
.parent a:hover {
  background-color: white;
  color: #020202;
  transform: translateZ(7px);
}
@media (max-width: 768px) {
  .parent a {
    width: calc(50% - 10px);
  }
}
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  font-family: "Source Sans 3";
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Adjust as needed */
  margin-top: 20px;
  justify-items: center;
}
.portfolio .portfolio-content .card {
  width: 100%;
  max-width: 350px; /* Set a maximum width for each card */
  background-color: black;
  cursor: pointer;
}
.portfolio .portfolio-content .card:hover {
  border: 1px solid #2a2a2a;
  transition: 0.2s;
}
.portfolio .portfolio-content .card  {
  text-decoration: none; /* Remove underline from the text */
}
.portfolio .portfolio-content .card img {
  width: 100%;
  height: auto;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
  color: white;
  font-size: 18px; /* Adjust as needed */
  font-weight: bold;
}
.portfolio .portfolio-content .card .info p {
  color: white;
  font-size: 16px; /* Adjust as needed */
  line-height: 1.3;
  margin-bottom: 0;
}
/* End Portfolio */
/* Media query for smaller screens */
@media (max-width: 768px) {
  .portfolio .portfolio-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .portfolio .portfolio-content .card {
    max-width: none; /* Remove max-width for smaller screens */
  }

  .portfolio .portfolio-content .card .info {
    padding: 10px;
  }

  .portfolio .portfolio-content .card .info h3 {
    font-size: 16px;
  }

  .portfolio .portfolio-content .card .info p {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .portfolio .portfolio-content{grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));}
}



/* Start Social */
.social {
  display: flex;
    justify-content: center;
    margin-top: 12px;
    font-size: 16px;
}
.social p{
  margin: 0;
  font-size: 20px;
}
.social a{
  color: white;
  padding-left: 1%;
  background-color: transparent;
}
.social a:hover {
  transition: 0.2s;
  color: #3d3d3e;
}
/* End Social */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 4px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */

/* Practical electronics course */
@media (max-width: 650px) {
  .image-0_page_2 {
    flex-direction: column !important;
  }
.parent a p {
  font-size: 17px;
}
}
/* @media (min-width: 1200px){
.container_2 {
    width: 1170px;
}
}
@media (min-width: 992px){
.container_2 {
    width: 970px;
}
}
@media (min-width: 768px) {
.container_2 {
    width: 750px;
}
} */
.container_2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1264px;
  font-family: "Source Sans 3";
}
.parent a p {
  margin: 0;
}
.image-0_page_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px;
  perspective: 600px;
}
.course {
  background-color: black;
  border: 1px solid #eee;
  position: relative;
  height: 135px;
  
}

  .course:hover{
    background-color: #2b2929;
    color: white;
    transform: translateZ(4px);
    transition: 0.3s;
  .course a p {
    color: black;
  }
  }
.course a p {
  margin: 0;
  padding: 15px;
  color: white;
  font-size: 23px;
  padding-top: 10px;
  width: fit-content;
  min-height: 105px;
  line-height: 1.1;
}
a {
  text-decoration: none;
}
.number {
  font-weight: bold;
  padding: 5px;
  font-family: auto;
  padding-left: 15px;
}
.info_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}
.time {
  font-weight: bold;
  font-family: auto;
  padding-right: 5px;
}
/* .container_2 .courses .course {
  background-color: white;
  border: 1px solid #eee;
  position: relative;
  height: 100px;
} */


/*About us page Style*/
.about_us_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_us_head h1 {
  margin: auto;
  font-size: 40px;
}
.about_us_head img {
  max-width: 180px; /* Ensures the image does not exceed the container width */
  max-height: 180px; /* Ensures the image does not exceed the container height */
}
.intro {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: flex-start;
  padding: 23px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.intro_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_img img {
  width: 170px;
  height: 270px;
  margin-right: 20px; /* Adjust margin as needed */
}
.intro_text p {
  color: white;
  font-size: 21px;
  margin: 0;
  line-height: 1.2;
  font-family: "Source Sans 3";
  font-weight: 350;
}
@media (max-width: 670px){
  .about_us_head h1 {
   font-size: 27px;   
  }
  .about_us_head img {
    max-width: 170px;
    max-height: 170px;  
  }
  .intro_img img {
    width: 150px;
    height: 215px;
  }
}
@media (max-width: 670px){
  .about_us_head h1 {
   font-size: 22px;     
  }
  .social p{
    font-size: 18px;
  }
  .social .footer {
    font-size: 17px;
  }
  .social i {
    font-size: 18px !important;
  }
}
@media (max-width: 470px){
  .about_us_head h1 {
   font-size: 18px;  
   margin: 5px; 
  }
  .about_us_head img {
    max-width: 170px;
    max-height: 170px;  
  }
  .intro_img img {
    width: 100px !important;
    height: 160px !important;
  }
  .intro_text p {
    font-size: 17px;
    line-height: 1.5;
    padding-top: 12px;
  }
}
@media (max-width: 1166px) {
  .intro{
    flex-direction: column;
  }
}
@media (max-width: 1166px) {
  .intro_img {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 534px) {
  .intro_img img {
    width: 125px;
    height: 180px;
  }
  .parent a {
    padding: 5px;
  }
}
@media (max-width: 374px) {
  .about_us_head img {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  .intro_img img {
    width: 80px !important;
    height: 150px !important;
  }
  .intro {
    padding: 10px;
    /* font-weight: bold; */
  }
}
@media (max-width: 430px) {
  .intro_img img {
    width: 90px !important;
    height: 140px !important;
  }
  .about_us_head img {
    max-width: 150px;
    max-height: 150px;
  }
  .footer  {
    font-size: 16px;
    }
}
/**/
/**/
.ComingSoon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh; /* Full viewport height */
}
.youtube_lesson {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.container_lesson {
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
.explanation p {
  margin: 0;
  font-weight: 300;
  font-size: larger;
  padding-left: 10px;
  font-family: 'Roboto';
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.explanation span {
  display: block;
  font-weight: 500;
  font-size: larger;
  font-family: 'Roboto';
  letter-spacing: 1px;
}

/*font*/
.head_lesson h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 10px;
  font-family: "Source Sans 3";
}
@media (max-width: 630px) {
  .container_lesson {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.contain p {
  padding: 0;
}
.contain ul {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  font-family: "Source Sans 3";
}
/* .components {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px; 
}

.components ul {
  margin: 0;
  font-size: 20px;
  font-family: "Source Sans 3";
} */
.components ul {
  gap: 5px;
  display: grid;
  text-transform: capitalize;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
}

.components li {
  list-style-type: none; /* Remove default list style */
  margin: 0;
  font-size: 20px;
  font-family: "Source Sans 3";
}
.components ul {
  list-style-type: none; /* Remove default list style */
  padding: 0;
}

.components li {
  position: relative;
  padding-left: 30px; /* Space for the checkmark */
}

.components li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* Style the checkmark */

/* Style for the figure element containing the image and caption */
/* Style for the figure element containing the image and caption */
.image-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
figure img {
  transition: 0.5s ease;
  backface-visibility: hidden;
}
/* Style for the figure element containing the image and caption */
figure {
  display: flex;
  flex-direction: column;
}

/* Style for the caption */
figcaption {
  font-style: italic;
  font-size: smaller;
  color: white;
  margin-top: 5px;
}
.img_shadow {
  box-shadow: 0px 0px 10px white;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.figure:hover .image {
  opacity: 0.3;
}

.figure:hover .middle {
  opacity: 1;
}
/* Quiz section styles */
#quizForm {
  margin-top: 20px;
}

/* Quiz question styles */
#quizForm p {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Quiz options styles */
#quizForm input[type="radio"] {
  margin-bottom: 5px;
  margin-left: 10px;
}

/* Submit button style */
#quizForm input[type="submit"] {
  padding: 10px 20px;
  background-color: #121212;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#quizForm input[type="submit"]:hover{
  background-color: #2a2a2a;
  transition: 0.3s;
}
/* Timer styles */
#timer {
  margin-top: 20px;
  font-weight: bold;
}
#start .start_p {
  font-size: large;
  font-family: sans-serif;

  margin: 10px;
  width: fit-content;
  padding-left: 5px;
  border-radius: 3px;
}
#start {
  border: 2px solid #212121; /* Set the border width and color */
  border-radius: 5px; /* Add border radius */
  margin: 10px; /* Add some padding inside the border */
  display: inline-block; /* Display the div as an inline block */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  width: 330px;
  transition: 0.5s;
  background-color: #0c0c0c;
  box-shadow: 3px 3px 3px #818181;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* #start {




  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; 
} */
#start.active {
  display: block; /* Display the quiz section when active */
}

#start:hover {
  background-color: transparent;
  transition: 0.5s;
  box-shadow: 3px 3px 3px rgb(48, 47, 47);
}
.limt_60 {
  display: none;
  font-size: large;
  font-family: sans-serif;
  margin: 10px auto; /* Center the element horizontally */
  width: fit-content;
  text-align: center; /* Center the text inside the element */
  padding-left: 5px;
  border-radius: 3px;
  transition: 0.5s;
}
#quizForm {
  /* display: none; */
  transition: 0.5s;
}
#start:hover .limt_60 {
  display: block;
  transition: 0.5s;
}


#start:hover .start_p {
  display: none;
  transition: 0.5s;
}

/* Modal styles */
.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  transition: 0.3s;
}

.modal-content {
  background-color: black;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; 
}
.explanation.blur {
  filter: blur(5px);
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#quizModal {
  display: none;
}
#score {
  font-size: x-large;
  color: green;
}
#socre p {
  margin: 0;
}
#score_lose {
  color: red;
  font-size: x-large;
  font-family: fantasy;
}